.container {
  margin-top: 32px;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.internalContainer {
  border-radius: 10px;
  padding-top: 15px;
  padding-left: 40px;
  padding-right: 40px;
}

p,
h1,
img {
  color: white;
}

h1 {
  font-size: 40px;
}
.min-temp {
  color: rgba(255, 255, 255, 0.637);
}

.flex-gap {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
}

.details-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 22px;
  padding-bottom: 20px;
}

.table {
  display: grid;
  column-gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

*{
  background-color: #252529;
}
