<div class="all-center-container">
  <h1>Travel Weather</h1>
  <h2>
    Find out how the weather was like in the last few years before travelling!
  </h2>
  <div class="input-container">
    <input
      [(ngModel)]="inputCity"
      type="text"
      placeholder="Type the city"
      style="grid-column: 1"
      class="input-pair-left"
    />
    <select
      [(ngModel)]="inputCountry"
      type="text"
      style="grid-column: 2"
      class="input-pair-right"
    >
      <option value="">
        Country
      </option>
      <option *ngFor="let flag of flagNames" [value]="flag[1]">
        {{ flag[0] }} {{ flag[2] }}
      </option>
    </select>
    <input [(ngModel)]="startDate" type="date" style="grid-column: 4" />
    <input [(ngModel)]="endDate" type="date" style="grid-column: 6" />
    <button (click)="onSubmit()" style="grid-column: 8">Buscar</button>
  </div>
  <app-weather-details></app-weather-details>
  <app-weather-card-list></app-weather-card-list>
</div>
