<div class="all-center-container">
  <h1>Travel Weather</h1>
  <h2>
    Find out how the weather was like in the last few years before travelling!
  </h2>
  <div class="input-container">
    <input
      [(ngModel)]="inputCity"
      type="text"
      placeholder="Type the city"
      style="grid-column: 1"
      class="input-pair-left"
    />
    <input [(ngModel)]="startDate" type="date" style="grid-column: 3" />
    <input [(ngModel)]="endDate" type="date" style="grid-column: 5" />
    <button (click)="onSubmit()" style="grid-column: 7">Buscar</button>
  </div>
  <div *ngIf="!loading">
    <app-weather-details></app-weather-details>
    <app-weather-card-list></app-weather-card-list>
  </div>
  <p *ngIf="loading" style="color: white;">
    Loading...
  </p>
</div>
