* {
  background-color: rgb(30, 30, 32);
  font-family: "Inter var", "Inter", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial,
    "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

.all-center-container {
  display: grid;
  place-content: center;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

h1 {
  font-size: 70px;
  font-weight: 700;
  color: rgb(255, 255, 247);
  margin: 0%;
}

h2 {
  font-size: 24px;
  font-family: "Inter var", "Inter", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial,
    "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 500;
  color: rgba(237, 237, 237, 0.6);
  margin: 0%;
}

input {
  background-color: transparent;
  border: none;
  border: 2px solid rgb(255, 255, 247);
  color: rgb(255, 255, 247);
  font-size: 18px;
  padding: 10px;
  width: 100%;
  border-radius: 15px;
  font-weight: 500;
}

:focus {
  outline: none;
}
